@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Multi Ajax Form</h1>
    <p class="lead">An ASP.NET MVC form by multiple Ajax.BeginForm. just submit partial view in a parent view</p>
    <p><a href="http://xomorod.com" class="btn btn-primary btn-lg">Xomorod.com &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register a Employee</h2>
        @Html.Partial("EmployeeMaster")
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h2>Search Employes</h2>
        @Html.Partial("SearchPeople")
    </div>
</div>